/* Styling for Nav bar. Bg color, link color etc */
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2E435E;
  background-image: -moz-linear-gradient(top, #2e435e, #172e50);
  background-image: -ms-linear-gradient(top, #2e435e, #172e50);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e435e), to(#172e50));
  background-image: -webkit-linear-gradient(top, #2e435e, #172e50);
  background-image: -o-linear-gradient(top, #2e435e, #172e50);
  background-image: linear-gradient(top, #2e435e, #172e50);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/*.navbar .nav > li > a { color: #49AFCD; }*/
.navbar .nav > li > a { color: #8ED7ED; }
.navbar .divider-vertical { border-right: 1px solid #4D4D4D; }
.navbar { margin-bottom: 4em; } 


/* Styling for elements */
body { font-size: 100%; }
p { font-size: 100%; line-height: 1.6em; margin-top: 0.8em; margin-bottom: 0.8em; }
li { line-height: 1.6em; }
h3 { margin-top: 2.5em; }
.table th, .table td { line-height: 1.3em; }

/* Styling for articles */
.article { padding-bottom:20px; padding-right: 40px; }
.content-title { margin-bottom: 30px; }
.article a:hover { text-decoration: none; } 



/* Styling for the "other entries" section */
/* Metadata */
.well.small { padding: 6px 6px 4px; }

/* Read more button */
.btn-info.xsmall {
    padding: 1px 3px 1px;
    font-size: 11px;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Article summary */
.summary { margin-bottom: 4em; }
.summary pre { display: none; }


/* Styling for Sidebar */
.social a[href*='activestate.com']:before {content: url('./images/icons/activestate.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='atom.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='bitbucket.org']:before {content: url('./images/icons/bitbucket.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='code.google.com']:before {content: url('./images/icons/phosting.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='delicious.com']:before {content: url('./images/icons/delicious.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='digg.com']:before {content: url('./images/icons/digg.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='facebook.com']:before {content: url('./images/icons/facebook.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='github.com']:before {content: url('./images/icons/github.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='discord.gg']:before {content: url('./images/icons/discord.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='liberapay.com']:before {content: url('./images/icons/liberapay.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='gitorious.org']:before {content: url('./images/icons/gitorious.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='google.com/reader']:before {content: url('./images/icons/reader.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='jamendo.com']:before {content: url('./images/icons/jamendo.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='last.fm']:before {content: url('./images/icons/lastfm.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='linkedin.com']:before {content: url('./images/icons/linkedin.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='rss.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('./images/icons/stackoverflow.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='twitter.com']:before {content: url('./images/icons/twitter.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='patreon.com']:before {content: url('./images/icons/Patreon_logomark.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='paypal.me']:before {content: url('./images/icons/paypal_icon.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='youtube.com']:before {content: url('./images/icons/youtube_logo.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='kde.org']:before {content: url('./images/icons/kde.png'); margin-right: 2px; vertical-align: -3px;}

